<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Quote Request</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
          <tr>
            <td align="center" bgcolor="#ffffff" style="padding:10px">
              <p style="text-align:left">Hi {{instance.details.requester_name}},</p>
               <p style="text-align:left">We've received your quote request and are working on it!</p>
              <p style="text-align:left">We try to have quotes delivered in 24 hours but occationally it takes longer. When it's ready we'll send it to this email, and if you have an account, it will also be available from your dashboard.</p>
              <p style="text-align:left">If you have any question just respond to this email and we'll get back to you as soon as we can.</p>
              <p style="text-align:left">
              Sincerely,<br>The Cryosphere Innovation team
              </p>
            </td>
          </tr>
          <tr>
            {% load static %}
          </tr>